[Journal]
Storage={{ journal_storage }}
Compress=yes
SystemMaxUse={{ journal_system_max_use }}
SystemMaxFileSize={{ journal_system_maxfile_size }}
SystemKeepFree={{ journal_system_keep_free }}
RuntimeMaxUse={{ journal_runtime_max_use }}
RuntimeMaxFileSize={{ journal_runtime_maxfile_size }}
MaxRetentionSec={{ journal_max_retention_sec }}
RateLimitIntervalSec={{ journal_rate_limit_interval }}
RateLimitBurst={{ journal_rate_limit_burst }}
